*{
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    width:30vmin;
    height:30vmin;
    border: 2px solid grey;
    border-radius: 15vmin;
    margin: 2vmin;
}

#intro{
    margin-top: -32vmin;
    margin-left: 45vmin;
    font-size:x-large;
    width: 50vw;
}

@media only screen and (max-width:600px){
    img{
        width:80vmin;
        height:80vmin;
        border-radius: 40vmin;
        margin: 10vmin;
    }
    
    #intro{
        margin-top: 0;
        margin-left: 2vw;
        overflow-x: ;
        font-size:x-large;
        width: 100vw;
    }
}