*{
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    background-color: rgb(50, 46, 50);
    height:45px;
    display: inline-flexbox;
}

ul{
    padding-top: 10px;
}

li{
    color:white;
    padding-left:10px;
    font-size: 22px;
    display: inline;
}

li a{
    color: white;
    text-decoration: none;
}

#text{
    height:22px;
    float: right;
}

#searchButton{
    margin: 0 5px;
    height:24px;
    float: right;
    cursor: pointer;
}

#hamburger{
    margin-top: 5.5px;
    visibility: hidden;
}

.bars{
    width:30px;
    height:5px;
    background-color: #ffffff;
    margin:5px 3px 0 -8px;
    border-radius: 3px;
}

.container{
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
}

#create-note{
    margin: 20px 0;
    width: 100%;
    height: fit-content;
    border-radius: 3px;
    border: 2px solid rgb(176, 179, 181);
}

#add-a-note{
    margin: 10px 40px;
    font-size: 25px;
    font-weight: 500;
}

#write-note{
    font-size: 22px;
    margin:auto;
    width:90%;
    display:flex;
    height:fit-content;
    min-height: 60px;
    border-radius: 3px;
    padding:5px;
    border: 2px solid rgb(176, 179, 181);
    resize: none;
}

#add-note, #clear-notes{
    margin: 10px 15px 10px 40px;
    height:33px;
    width:90px;
    border-radius: 8px;
    border-style: hidden;
    background-color: blue;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

#clear-notes{
    margin:0px;
    width:100px;
    background-color: rgb(235, 103, 103);
}

hr{
    margin: 20px 0;
}

#zero-notes{
    color: grey;
}

@media only screen and (max-width:900px){
    .container{
        width:90%;
        margin-left: 5%;
    }
}

@media only screen and (max-width:600px){
    ul{
        width:90%;
    }

    nav{
        margin:auto;
        display: flex;
        overflow:hidden;
    }

    nav li{
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
    }

    #text{
        width:60vw;
        float:left;
        margin-left: 13vw;
    }

    #searchButton{
        float: left;
        width:45px;
        visibility: hidden;
        margin-left: 2vw;
        position: absolute;
        margin-top: 0px;
    }
    
    #hamburger{
        visibility: visible;
    }
}
